body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrap {
  width: 35.5rem;
  margin: 0 auto;
}
.pl-10{
  padding-left: 1rem;
}
.mt-20{
  margin-top: 1rem;
}
.mb-20{
  margin-bottom: 1rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.pt-18 {
  padding-top: 1.8rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.center {
  text-align: center;
}

.mt-58 {
  margin-top: 5.8rem;
}

.btn-pd {
  padding: 1.8rem 2.5rem;
}

.pd-tb_18 {
  padding: 1.8rem 0;
}

::-webkit-scrollbar{
  display: none;
}
<<<<<<< HEAD
.pd-tb_80{
  padding: 5rem 0;
}
.ml-23{
  margin-left: 2.3rem;
}
=======

>>>>>>> 70f8c43cd6e000e5a025e38fb21dd86b2ccaaf45
